* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: rgb(0, 0, 0);
  font-family: "Inter";
  margin: 0 auto;
}

header {
  width: 70%;
  margin: 0 auto 52px;
  margin-top: 3.5625rem;

}

nav a h1 {
  color: rgba(230, 83, 60, 1.00);
  font-weight: 800;
  font-size: 2.25rem;
  font-style: italic;
}

nav a {
  text-decoration: none;
}

nav li {
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  border: 2px solid green;
  align-items: center;

}

.navlink-container {
  display: flex;
  border: 1px solid white;
  gap: 47px;
  justify-content: center;
  align-items: center;

}

.nav-anchor {
  color: white;
  font-family: "Inter";
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}

.navlink-container #home {
  border-radius: 46px;
  background: rgb(230, 83, 60);
  color: rgb(255, 255, 255);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 22px;
  padding: 10% 20%;
}







/* Reuseable Classes */

.color1 {
  color: rgba(255, 255, 255, 0.5);
}

.common-section1 {
  width: 70%;
  margin: 0 auto;
  border: 2px solid red;
}
.heading2{
  color: white;
    font-family: "Inter";
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 14px;
}
.para2{
   color: white;
    opacity: 0.5;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;

    
}
.habit-text-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-bottom: 58px;
}

.heading3{
  font-family: "Inter";
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  color: white;
    
}
.mb6{
  margin-bottom: 6px;
}
.mb34{
  margin-bottom: 34px;
}
.mb58{
  margin-bottom: 58px;
}
.text-center{
  text-align: center;
}
.width-half{
  width: 50%;
}



/* Hero Section Design */
#hero {
  display: flex;
  border: 2px solid green;
  margin: 0 auto;
  gap: 167px;
  align-items: center;
  margin-bottom: 100px;
}

.hero-text-container {
  width: 60%;
  height: auto;
  border: 2px solid tomato;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}

.hero-text-container h1 {
  color: white;
  font-family: "Inter";
  font-size: 4.875rem;
  font-weight: 900;
  line-height: 120%;
  margin-bottom: 28px;

}

.italic {
  font-family: "Miama";
  font-weight: 400;
  font-size: 4.875rem;
  font-style: italic;
}

.hero-text-container p {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 28px;

}

.btn1 {
  border-radius: 42px;
  background-color: #E6533C;
  padding: 16px 40px;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: white;
  margin-right: 8px;
  width: 224px;
  border: none;
}

.btn2 {
  background-color: black;
  border-radius: 42px;
  padding: 16px 40px;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: white;
  box-sizing: border-box;
  border: 1px solid white;

}

.btn-container {
  display: flex;
  gap: 10px;
}

.hero-img-container {
  width: 40%;
  height: 580px;
  background-image: url("../images/images 2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 2px solid gold;

}

.hero-img-container img {
  /* position: relative; */
}

#banner-card1,
#banner-card2 {
  background-color: rgba(48, 48, 48, 0.54);
  color: whitesmoke;
  width: 45%;
  padding: 15px;
  border-radius: 20px;
  position: relative;

}

#banner-card1 h2 {
  font-weight: 900;
  font-size: 2.5rem;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: orangered;
}

.material-symbols-outlined {
  color: aliceblue;
  display: none;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24,

}





/* Habit Section Design Started Here */
#habit{
margin-bottom: 100px;
}
.habit-container{
  display: flex;
  justify-content: space-between;
}
.habit-container img{
   width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 30px ;
}
.habit-card{

}
.habit-card{
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}








/* _____________Run Section___________ */

#run{
  margin-bottom: 100px;
}
.text-img-container{
  display: flex;
  justify-content:space-between;
  background-color: rgba(68, 67, 67, 0.853);
  padding: 25px;
  

}
.run-text-container{
  width: 40%;
  padding: 30px;
 
}
.run-img-container{
  width: 40%;
  height: auto;   
  background-image: url('../images/run.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
 

}


/* ______Training________ */
#training{
  margin-bottom: 70px;
}
.row{
  display: flex;
}
.img1-cont{
  background-image:linear-gradient(rgba(6, 255, 210, 0.5),transparent), url("../images/exercise1.jpg");
  width: 20%;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.img2-cont{
  background-image:linear-gradient(rgba(255, 0, 0, 0.3),transparent), url("../images/exercise2.png");
  width: 50%;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.img3-cont{
  background-image:linear-gradient(rgba(0, 0, 0, 0.5),transparent), url("../images/exercise3.png");
  width: 30%;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.img4-cont{
  background-image:linear-gradient(rgba(0, 0, 0, 0.5),transparent), url("../images/exercise4.png");
  width: 40%;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.img5-cont{
  background-image:linear-gradient(rgba(66, 255, 0, 0.3),transparent), url("../images/exercise5.jpg");
  width: 25%;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.img6-cont{
  background-image:linear-gradient(rgba(0, 71, 255, 0.3),transparent), url("../images/exercise6.jpg");
  width: 35%;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.row h4{
  font-family: "Inter";
  font-size: 18px;
  position: relative;
  color:black;
  top: 150px;

}

/* _______________BMI Section_________________ */

#bmi{
  background-color: rgba(68, 67, 67, 0.853);
  margin-bottom: 88px;
}
.bmi-text-container{
  width: 50%;
  margin: 0 auto;
  margin-bottom: 88px;
}
.calculator-container{
  width: 30%;  
  margin: 50px;
}
.calculator-container h3{
  color: white;
    font-family: "Inter";
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 52px;
}
.calculator{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  
}
.value{
  border: 1px solid white;
  opacity: 0.5 ;
  color: white;
  font-family: "Inter";
  padding: 15px 18px;
  border-collapse: collapse;
  font-weight: 500;

}
.h{
  color: white;
  opacity: 1;
}

.calculate-container{
  width: 50%;
  margin: 50px 0px;
 
}
.type-h3 {
  color: white;
  font-family: "Inter";
  font-size: 28px;
  font-weight: 900;
  line-height: 120%;
  margin-bottom: 14px;
  margin-bottom: 40px;
 
}
.mb34{
  margin-bottom: 34px;
}
.flex{
  display: flex;
  justify-content: space-between;

}

.input-container{
  margin-bottom: 34px;
}
.input-container input{
border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  color: rgba(255, 255, 255, 0.812);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  padding: 12px 0px 12px 20px ;
}
#input1 {
  width: 45%;
  margin-bottom: 12px;
}
#input2{
  width: 45%;
  margin-bottom: 12px;
}
#input3{
  width: 45%;
  margin-bottom: 12px;
}
#input4{
  width: 45%;
}
#input5{
  width: 94%;
}


/* __________________Meet__Section____________ */
#meet{
  margin-bottom: 88px;
}
.meet-img-container{
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 15px;
}
.row2{
  display: flex;
  justify-content: space-between;
}
.member1 {
  background-image:url("../images/trainer1.png");
  width: 32%;
  height: 272px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
}
.member2 {
  background-image:url("../images/trainer2.png");
  width: 32%;
  height: 272px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
}
.member3 {
  background-image:url("../images/trainer3.png");
  width: 32%;
height: 272px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
}
.member4 {
  background-image:url("../images/trainer4.png");
  width: 32%;
  height: 272px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
}
.member5 {
  background-image:url("../images/trainer5.png");
  width: 32%;
  height: 272px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
}
.member6 {
  background-image:url("../images/trainer6.png");
  width: 32%;
  height: 272px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
}


/* _____________Footer_______________ */

footer{
  background-color: rgba(255, 255, 255, 0.1);
}
.column1 h1{
  font-family: "Inter";
  font-weight: 800;
  font-style: italic;
  font-size: 70px;
  color:#E6533C;
}

.footer-flex-content{
  display: flex;
 justify-content: space-between;
}
.footer-flex-content .column1{
width: 40%;
height: auto;
}
.footer-flex-content .column2{
  width: 20%;
  height: auto;

}
.footer-flex-content .column3{
  width: 20%;
  height: auto;

}
.foot-anchor{
  text-decoration: none;
  color: white;
  opacity: 0.5;
  font-family: "Inter";
}
.li-container li{
  list-style: none;
  margin-bottom: 20px;
}

.right p{
  font-family: "Inter";
  color: white;
  opacity: 0.6;
  text-align: center;
}
footer > section{
  padding: 66px 0px 35px;
}
hr{
  margin: 80px 0px 36px;
  opacity: .4;
}














@media screen and (max-width: 576px) {
  html {
    font-size: 14px;
  }
P{
  font-size: 14px;
}
  header {
  
  }

  #hero {
    flex-direction: column;
    align-items: center;
    gap: 48px;
    margin-bottom: 20px;
  }

  .hero-text-container {
    width: 100%;


  }

  .navlink-container {
    display: none;

  }

  .material-symbols-outlined {
    display: block;
  }

  .hero-img-container {
    width: 100%;
  }

  .hero-text-container h1 {
    font-size: 36px;
    width: 70%;
  }

  .hero-text-container p {
    width: 80%;
  }

  .italic {
    font-size: 36px;
  }
 .btn1, .btn2{
  padding: 10px 20px;
}
 .btn-container{
  justify-content: space-between;
}
.heading2{
  font-size: 36px;
}
.habit-container{
  flex-direction: column;
  align-items: center;
  gap: 50px;
  
}
.habit-card{
  width: 80%;
}
.habit-container img {
  width: 250px;
  height: 250px;
  
}


/* Run Section */
.text-img-container{
  flex-direction: column;
   
      justify-content: center;
      align-items: center;
      padding: 15px;
}
.run-text-container{
  width: 80%;
}
.run-img-container{
  width: 80%;
  height: 170px;

  
}



/* _____Training Section________ */

.img3-cont, .img6-cont{
  display: none;
  
}
.img1-cont, .img2-cont{
  width: 50%;
  height: 150px;
}
.img4-cont{
  width: 45%;
  height: 150px;
}
.img5-cont{
  width: 55%;
  height: 150px;
}

/* ______BMI_______ */
.flex{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.calculator-container{
  width: 90%;
}
.calculate-container{
  width: 100%;
}

#input1, #input2, #input3, #input4{
  width: 40%;  }
  #input5{
    width: 87%;
  }
/* __________Meet Our Team_______________ */

.row2{
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.member1, .member2, .member3, .member4, .member5,.member6{
  width: 95%;
  height: 272px;
  
}

/* __________Footer______________ */

.footer-flex-content{
  flex-direction: column;
  /* justify-content: center; */
  padding: 44px 20px 72px;
  gap: 40px;
}
.footer-flex-content  .column1{
  width: 80%;
}

.footer-flex-content  .column2{
  width: 80%;
}

.footer-flex-content  .column3{
  width: 80%;
}
footer>section {
  padding: 0px 0px 35px;
}
hr {
  margin: 0px 0px 36px;

}


}